
/* body
{
    background-color: black;
    color: white;
} */

.menuHeroImage
{
background-image: url("../images/sarang-pande-5djt8Pkqdc4-unsplash.png");
background-position: center;
background-size: cover;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 14vh;
  font-size: 24px;
}

.selectedPageColor {
  color: rgb(178, 74, 85) !important;
  font-weight: bold;
}

.btn {
  background-color: rgb(204, 48, 64);
  color: white;
  border-radius: 0;
  border: 0;
  height: 6vh;
}
.btn:hover
{
    background-color: rgb(147, 65, 73);
}

.navbar-toggler
{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 8vw
    !important
}

.footerHeadings
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(178, 74, 85);
}

.footerSubHeading
{
    font-weight:bold;
    font-size:x-large;
    text-align: left;
    display: flex;
    justify-content: center;
    padding-right: 35px
    !important
}

.addressText
{
    text-align: left;
    display: flex;
    justify-content: center
    !important
}

.bgMainPage{
    background: black 0% 0% no-repeat padding-box;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30vh;
    margin: 175px;
}

.textOurMenu
{
    color: white;
    opacity:100%
    !important
}

@media (max-width: 1090px) {
  .nav-link {
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 14vh;
    font-size: 24px;
    padding: 0;
    margin:15px;
    
  }
  .btn {
    background-color: rgb(204, 48, 64);
    color: white;
    border-radius: 0;
    height: 40px;
  }
  .btn:hover
{
    background-color: rgb(147, 65, 73);
}
  .nav-item {
    display: flex;
    justify-content: center;
  }
  .Logo {
    height: 100px;
  }
}



.capsTxt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  opacity: 100%;
}

.capsDescTxt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
color:white;
}