body {
  background-color: black;
  color: white;
}

.menuHeroImage {
  background-image: url("../images/sarang-pande-5djt8Pkqdc4-unsplash.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.homeHeroImage {
  background-image: url("../images/d82f1bd4e2a3401372574cba74eed410.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 14vh;
  font-size: 24px;
}

.selectedPageColor {
  color: rgb(178, 74, 85) !important;
  font-weight: bold;
}

.btn {
  background-color: rgb(204, 48, 64);
  color: white;
  border-radius: 0;
  border: 0;
  height: 6vh;
}
.btn:hover {
  background-color: rgb(147, 65, 73);
}


.Locationsbtn {
  background-color: rgb(204, 48, 64);
  color: white;
  border-radius: 0;
  border: 0;
  height: 6vh;
}
.Locationsbtn:hover {
  background-color: rgb(147, 65, 73);
}


.navbar-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 8vw !important;
}

.footerHeadings {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(178, 74, 85);
}

.footerSubHeading {
  font-weight: bold;
  font-size: x-large;
  text-align: left;
  display: flex;
  justify-content: center;
  padding-right: 35px !important;
}

.addressText {
  text-align: left;
  display: flex;
  justify-content: center !important;
}

.bgMainPage {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 135px;
}

.bgMainHome{
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 135px;
}

.textMain {
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 100% !important;
}
.textSub {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 100% !important;
}
@media (max-width: 1093px)
{
  .Locationsbtn {
    background-color: rgb(204, 48, 64);
    align-items: center;
    color: white;
    border-radius: 0;
    border: 0;
    height: 6vh;
  }
  .orderNowText
  {
  padding-left: 10px !important;
  padding-right: 10px !important;

  } 

  .Locationsbtn:hover {
    background-color: rgb(147, 65, 73);
  }
}

@media (max-width: 1090px) {
  .nav-link {
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 14vh;
    font-size: 24px;
    padding: 0;
    margin: 15px;
  }
  .btn {
    background-color: rgb(204, 48, 64);
    color: white;
    border-radius: 0;
    height: 40px;
  }
  .btn:hover {
    background-color: rgb(147, 65, 73);
  }
  .nav-item {
    display: flex;
    justify-content: center;
  }
  .Logo {
    height: 100px;
  }
  .bgMainHome{
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    margin: 135px;
  }  
}

@media (max-width: 1442px) 
{
  .bgMainHome{
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 70vw;
    margin: 135px;
  }  
}


@media (max-width: 700px) 
{
  .aboutUsBG {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 42px;
    margin-left: 500px;
    width: 100vw !important;
    margin-right: 0px !important;
  }
  .bgMainHome{
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 95vw;
    margin: 135px;
  }  
  .bgMainPage {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 95vw;
    margin: 135px;
  }
  .aboutUsText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(178, 74, 85, 100);
    color: white;
    opacity: 100%;
    font-size: 25px !important;
    width: 210px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    margin-top: 40px !important;
  }
  
  .aboutUsText1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px !important;
    padding: 15px;
  }
}

.aboutUsHeroImage {
  background-image: url("../images/About\ Us\ Image.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.aboutUsBG {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51vh;
  margin-top: 42px;
  margin-left: 500px;
  width: 600px;
}

.aboutUsText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(178, 74, 85, 100);
  color: white;
  opacity: 100%;
  font-size: 30px;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
}

.aboutUsText1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  padding: 15px;
}

.padding {
  padding-top: 120px;
}

.locationsHeroImage {
  background-image: url("../images/locations\ image.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.stocktonImage {
  background-image: url("../images/stockton\ image.png");
  background-position: left;
  background-size:cover;
}

.sacImage {
  background-image: url("../images/sac\ image.png");
  background-position: right;
  background-size: cover;
}

.locationBG {
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 16vh;
  margin: 10%;
}

.locationText
{
 padding-top: 25px;
}


@media (max-width:1500px) {
  .map{
    width: 100%;
  }
  
}

.contactHeroImage{
  background-image: url("../images/contact\ hero.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.contactYellowText{
  color: rgb(255, 166, 0);
  font-weight: bold;
  font-size: 22px;
}


.removeMargin{
  margin: 0 !important;
}

.FooterHeight{
height: 0%;
}

.card
{
  border: none;

}

.MarginBottomCard{
  margin-bottom: 19.7%;
}

.ImageSizeCard{
  height:537px;
  width:537px;
}

h2
{
  color:#FFA600;
  font-weight: bold;
  font-size: 35px;
}

p
{
  color: white;
}

.fontMenuCard
{
  font-weight: bold;
  font-size: 27px;
}

.PastaCardHeight
{
  height: 68vh;
}


.paddingEndCards
{
  padding: 100px;
}


@media (max-width: 1500px)
{
  .paddingEndCards
  {
    padding: 0;
  }
  .removePaddingOnSmall
  {
    padding: 0;
  }
  .card
  {
    margin-top: 50px;
  }
  .fontMenuCard
{
  font-weight: bold;
  font-size: 22px;
}
/* .cardLineUp
{
  height: 68px;
} */
h2
{
  color:#FFA600;
  font-weight: bold;
  font-size: 26px;
}
.removeMarginOnSmall
{
  margin-top:0 !important;
}
}
.cardBgColor
{
  background-color: #49130f;
}
.cardHeight
{
  height: 51vh;
}

.DecorationNone
{
  text-decoration: none;
}

.ModalFontMain
{
color: #FFA600;
font-weight: bold;
font-size: 50px;
}

.ModalFont
{
color: black;
}

.ModalButtons
{
  font-weight: bold;
  color: white;
  background-color: rgb(204, 48, 64);
  padding: 8px;
}

.ModalBackground
{
  background-color: rgba(0, 0, 0, 0.4);
}

.ModelCardColor
{
  background-color: rgb(255, 255, 255);
}


@media (max-width: 390px)
{
  .aboutUsText1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
  }
  .aboutUsText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(178, 74, 85, 100);
    color: white;
    opacity: 100%;
    font-size: 24px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
  }

  .bgMainHome{
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    margin: 135px;
  }  
  .bgMainPage {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    margin: 135px;
  }
  .cardHeight
{
  height: 60vh;
}
.fontMenuCard
{
  font-weight: bold;
  font-size: 18px;
  margin-left: 40px;
}
.locationBG {
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 16vh;
  margin: 10%;
}
.Locationsbtn {
  background-color: rgb(204, 48, 64);
  color: white;
  border-radius: 0;
  border: 0;
  height: 5vh;
}
.orderNowText
{
padding-left: 10px !important;
padding-right: 10px !important;
font-size: 20px;
} 

}


@media (max-width: 476px)
{
  .aboutUsText1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
  }
  .aboutUsText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(178, 74, 85, 100);
    color: white;
    opacity: 100%;
    font-size: 24px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
  }

  .bgMainHome{
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    margin: 135px;
  }  
  .bgMainPage {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    margin: 135px;
  }
  .cardHeight
{
  height: 65vh;
}
.fontMenuCard
{
  font-weight: bold;
  font-size: 18px;
  margin-left: 40px;
}
.locationBG {
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 16vh;
  margin: 10%;
}
.Locationsbtn {
  background-color: rgb(204, 48, 64);
  color: white;
  border-radius: 0;
  border: 0;
  height: 5vh;
}
.orderNowText
{
padding-left: 10px !important;
padding-right: 10px !important;
font-size: 20px;
} 

.addressText {
  text-align: left;
  display: flex;
  justify-content: center !important;
  text-decoration: none;
}
}