
/* body
{
    background-color: black;
    color: white;
} */

.menuHeroImage
{
background-image: url("../images/sarang-pande-5djt8Pkqdc4-unsplash.png");
background-position: center;
background-size: cover;
height: 60vh;
}

.navbar {
  background-color: black;
}

.nav-link {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 14vh;
  font-size: 24px;
}

.selectedPageColor {
  color: rgb(178, 74, 85) !important;
  font-weight: bold;
}

.btn {
  background-color: rgb(204, 48, 64);
  color: white;
  border-radius: 0;
  border: 0;
  height: 6vh;
}
.btn:hover
{
    background-color: rgb(147, 65, 73);
}

.navbar-toggler
{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 8vw
    !important
}

.footerHeadings
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(178, 74, 85);
}

.footerSubHeading
{
    font-weight:bold;
    font-size:x-large;
    text-align: left;
    display: flex;
    justify-content: center;
    padding-right: 35px
    !important
}

.addressText
{
    text-align: left;
    display: flex;
    justify-content: center
    !important
}

.bgMainPage{
    background: rgba(0, 0, 0, .7) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30vh;
    margin: 135px;
}

.textMain
{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    opacity:100%
    !important
}
.textSub
{
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  opacity:100%
  !important
}
.cardBgColor
{
  background-color: #49130f;

}

body
{
  background-color: black;
}

hr
{
  color: white;
}

@media (max-width: 1090px) {
  .nav-link {
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 14vh;
    font-size: 24px;
    padding: 0;
    margin:15px;
    
  }
  .btn {
    background-color: rgb(204, 48, 64);
    color: white;
    border-radius: 0;
    height: 40px;
  }
  .btn:hover
{
    background-color: rgb(147, 65, 73);
}
  .nav-item {
    display: flex;
    justify-content: center;
  }
  .Logo {
    height: 100px;
  }
}



.removeMargin{
  margin: 0 !important;
}

.FooterHeight{
height: 0%;
}

.card
{
  border: none;

}

.MarginBottomCard{
  margin-bottom: 19.7%;
}

.ImageSizeCard{
  height:537px;
  width:537px;
}

h2
{
  color:#FFA600;
  font-weight: bold;
  font-size: 35px;
}

p
{
  color: white;
}
/* 
.mtCards
{
  margin-top: 10vh;
} */

.fontMenuCard
{
  font-weight: bold;
  font-size: 27px;
}

/* .marginLeftAmount
{
  margin-left: 70px;
} */
/* 
.padding
{
  padding: 120px;
} */
.PastaCardHeight
{
  height: 68vh;
}


.paddingEndCards
{
  padding: 100px;
}


@media (max-width: 1500px)
{
  .paddingEndCards
  {
    padding: 0;
  }
  .removePaddingOnSmall
  {
    padding: 0;
  }
  .card
  {
    margin-top: 50px;
  }
  .fontMenuCard
{
  font-weight: bold;
  font-size: 22px;
}
h2
{
  color:#FFA600;
  font-weight: bold;
  font-size: 26px;
}
.removeMarginOnSmall
{
  margin-top:0 !important;
}
}

