.navbar {
  background-color: black;
}

.nav-link {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 14vh;
  font-size: 24px;
}

.selectedPageColor {
  color: rgb(178, 74, 85) !important;
}

.btn {
  background-color: rgb(178, 74, 85);
  color: white;
  border-radius: 0;
  height: 55px;
}

.navbar-toggler
{
    
    border-color: white;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 8vw
    !important
}


@media (max-width: 991px) {
  .nav-link {
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 14vh;
    font-size: 24px;
    padding: 0;
    margin:15px;
  }
  .btn {
    background-color: rgb(178, 74, 85);
    color: white;
    border-radius: 0;
    height: 40px;
  }
  .nav-item {
    display: flex;
    justify-content: center;
  }
  .Logo {
    height: 100px;
  }
}
